<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//mincss.com/entireframework.min.css" rel="stylesheet" type="text/css">
	<title>{{ config.extra.site_name | upper }}</title>
	<!-- <link rel="stylesheet" href="{{ get_url(path="extra.css") }}"/> -->
    </head>
    <body>
	{% include "nav.html" %}
	<div class="container">
	    {% block content %}{% endblock content %}
	</div>
    </body>
</html>
